# System files
**/.DS_Store
.DS_Store
Thumbs.db

# Configuration files
.clever.json
.vale.ini

# Build/cache files/folders
/.hugo_build.lock
/public/
/resources/

# IDEs/Editors
/.idea/
.vscode/

# AI Tools
.claude/
