@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@700&display=swap');

:root {
  --primary-hue: 235deg;
}
.dark {
  --primary-hue: -165deg;
}

.content h1,
.content h2,
.content h3,
.content h3 {
  font-family: 'Plus Jakarta Sans', sans-serif;
}