@font-face {
  font-display: swap;
  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/plus-jakarta-sans-v8-latin-700.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
       url('/fonts/plus-jakarta-sans-v8-latin-700.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}

/* -----------------------------------------------
         This code is overriding default theme
            configuration and classes 
--------------------------------------------------*/

/* Colors */
:root {
  --primary-hue: 235deg;
}

.bg-gray-100 {
  background-color: #f1f0fb;
}

.bg-gray-200 {
  background-color: rgb(214, 207, 251);
}

.bg-gray-custom {
  background-color: #f5f5f5;
}

/* Colors for dark theme */
.dark {
  --primary-hue: -165deg;
}

/* Fonts */
h1, .content h1,
.content h2,
.content h3,
.content h3 {
  font-family: 'Plus Jakarta Sans', sans-serif;
}

/* Override border-radius class to fit Clever's theme */
.rounded,
.rounded-xl,
.rounded-3xl,
.rounded-lg,
.rounded-md,
.rounded-sm,
.code-block pre:not(.lntable pre),
.content img,
.content div.gist-file,
.btn-secondary,
.btn-primary  {
  border-radius: 0rem;
}

/* -----------------------------------------
            Customize shortcodes
-------------------------------------------*/

/* Hero buttons */
.btn-primary {
  background-color: rgba(58, 56, 113, 1);
}

.btn-primary:hover {
  background-color: rgba(203, 28, 66, 1);
  color: white;
}

.btn-secondary:hover {
  background-color: rgba(245, 116, 97, 1);
  color: white;
}

/* Cards */
.hextra-cards,
.hextra-feature-card,
.hextra-card {
  border-radius: 0.29rem;
}

.img-grid {
  grid-template-columns: repeat(auto-fill, minmax(max(250px, calc((100% - 1rem * 2) / var(--rows))), 1fr));
  width: 100%;
  height: 100%; 
}

/* Steps
Allow inserting "steps" shortcode with h4 */
.steps h4 {
  counter-increment: step;
}
  
.steps h4:before {
  position: absolute;
  height: 33px;
  width: 33px;
  border-width: 4px;
  --tw-border-opacity: 1;
  border-radius: 9999px;
  border-color: rgb(255 255 255 / var(--tw-border-opacity));
  background-color: rgb(243 244 246 / var(--tw-bg-opacity));
  text-align: center;
  text-indent: -1px;
  font-size: 1rem;
  font-weight: 400;
  --tw-text-opacity: 1;
  color: rgb(163 163 163 / var(--tw-text-opacity));
  margin-top: -1px;
  margin-left: -41px;
  content: counter(step);
  }
  
:is(html[class~="dark"] .steps h4):before {
  --tw-border-opacity: 1;
  border-color: rgb(17 17 17 / var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgb(38 38 38 / var(--tw-bg-opacity));
}

/* -----------------------------------------------------
               Links styles
_______________________________________________________*/

/* Prevent linked text to be underlined or change color.
  Useful for beautiful cards */
a.no-underline {
  text-decoration: none;
}

/* Custom link color.
This will be applied also to code (except in tables): 
selectors in css can't be grained to target Markdown syntax
(for now) */
.content p a:not(.code),
.content li a:not(.code) {
  text-decoration-line: underline;
  text-decoration-style: dotted;
  text-decoration-color: rgb(214, 207, 251);
  color: rgb(90, 66, 212);
}

html[class~="dark"] .content p a:not(.code),
html[class~="dark"] .content li a:not(.code) {
  color: rgb(0, 172, 230);
}

/* Allow linking in a variable environment without
changing the style and adding an a arrow at the end of the text */
.content a:not(.code) { 
  text-decoration: none;
  color: inherit;
}

/* Display an arrow at the end of the linked variable */
.content a:not(.code-block code) code::after {
  content: "\00a0↗";
  color: tomato;
  font-size: 1rem;

}

/* Display arrow for external links in the main menu.
  Don't display it if it's an icon */ 
.nav-container a[href^="http://"]:not(:has(svg))::after,
.nav-container a[href^="https://"]:not(:has(svg))::after {
  content: "\00a0↗";
  font-size: 1rem;
}

/*--------------------------------------------------------
                          Table Styling
----------------------------------------------------------*/ 

/* Table headers formatting */
.content table:not(.code-block table) th {
  border-right-width: 0px;
  border-left-width: 0px; 
  border-top: none;
  text-transform: uppercase;
  color: rgba(115, 115, 142, 1);
}

/* Table headers formatting for dark mode */
html[class~="dark"] .content table:not(.code-block table) th {
  color: rgb(193, 193, 196);
}

/* Remove internal borders */
.content table:not(.code-block table) td {
  margin: 0px;
  border-width: 0px;
  --tw-border-opacity: 0;
}

/* Text in cells */
.content table:not(.code-block table) tr {
  font-size: 0.8rem;
  text-align: left;
  border-width: 0px;
  color: rgba(58, 56, 113, 1);
}
/* Text in cells for dark mode */
html[class~="dark"] .content table:not(.code-block table) tr {
    color: #ececfe;
  } 
