{{$level := .Get 0}}
{{- if not $level -}}
{{- errorf "missing alert level" -}}
{{- end -}}
{{$title := .Get 1}}

{{ if $.Site.Params.Debug }}
<div class="shortcode-debug" >
  &lbrace;&lbrace; &lt; alert  "{{$level}}" "{{$title}}" &gt; &rbrace;&rbrace;
    innerContent
  &lbrace;&lbrace; &lt; /alert  &gt; &rbrace;&rbrace;
  <hr />
{{ end }}

<div class="alert alert-{{$level}}" role="alert">
  {{- if $title -}}
    <h4 class="alert-heading">{{$title}}</h4>
  {{- end -}}
  {{ trim .Inner " \n" | markdownify }}
</div>
  
{{ if $.Site.Params.Debug }}
</div>
{{ end }}