{{ .Scratch.Set "content" "" }}
{{ .Scratch.Set "identifier" "" }}

{{ $identifier := "" }}
{{ $filepath := .Get "file"}}
{{ if ($filepath) }}
    {{ .Scratch.Set "content" ($filepath | readFile) }}
    {{ .Scratch.Set "identifier" (first 10 (md5 (.Scratch.Get "content"))) }}
{{ else }}
    {{ .Scratch.Set "content" .Inner }}
    {{ .Scratch.Set "identifier" (first 10 (md5 .Inner)) }}
{{ end}}

{{ $lang := .Get "lang" }}

{{ if $.Site.Params.Debug }}
<div class="shortcode-debug"  >
  <strong>code shortcode</strong>
  <hr />
{{ end }}
{{ (print "```" $lang "\n" (.Scratch.Get "content") "\n```") | markdownify }}
{{ if $.Site.Params.Debug }}
</div>
{{ end }}

