{{- $link := .Get "link" -}}
{{- $text := .Get "text" -}}
{{- $style := .Get "style" -}}

{{- $external := hasPrefix $link "http" -}}
{{- $href := cond (hasPrefix $link "/") ($link | relURL) $link -}}

<a
  href="{{ $href }}"
  class="btn-secondary font-medium cursor-pointer px-6 py-3 text-center text-gray-800 inline-block bg-gray-100 hover:bg-primary-600 focus:outline-none focus:ring-4 focus:ring-primary-300 dark:bg-gray-200 dark:hover:bg-gray-100 dark:focus:ring-primary-800 transition-all ease-in duration-200"
  {{ with $style }}style="{{ . | safeCSS }}"{{ end }}
  {{ if $external }}target="_blank" rel="noreferrer"{{ end -}}
>
  {{- $text -}}
</a>