{{$imgurl := .Get 0}}
{{- if not $imgurl -}}
{{- errorf "missing link to image" -}}
{{- end -}}
{{$caption := .Get 1}}
{{- if not $caption -}}
{{- errorf "missing caption" -}}
{{- end -}}
{{$style := .Get 2}}



{{ if $.Site.Params.Debug }}
<div class="shortcode-debug" >
  &lbrace;&lbrace; &lt; image  "{{$imgurl}}" "{{$caption}}"&gt; &rbrace;&rbrace;
  <hr />
{{ end }}
<figure class="cc-content-img" {{- if $style -}}style="{{ $style }}"{{- end -}}>
    <img src="{{ $imgurl }}" alt="{{ $caption }}" class="img-fluid" data-action="zoom" />
    <figcaption>
        {{ $caption }}
    </figcaption>
  </figure>
{{ if $.Site.Params.Debug }}
</div>
{{ end }}