{{$addon := .Get 0}}
{{- if not $addon -}}
{{- errorf "missing addon value" -}}
{{- end -}}

{{ if $.Site.Params.Debug }}
<div class="shortcode-debug" >
  &lbrace;&lbrace; &lt; pricingConsumption "{{$addon}}" &gt; &rbrace;&rbrace;
  <hr />
{{ end }}

<!-- Documentation is here: https://www.clever-cloud.com/doc/clever-components/?path=/story/%F0%9F%9B%A0-pricing-cc-pricing-product-consumption-%F0%9F%92%A1-smart--page -->
<script type="module" src="https://components.clever-cloud.com/load.js?version=7.0.0-beta.0&components=cc-pricing-product-consumption.smart"></script>
<cc-smart-container context='{"productId": "{{$addon}}"}'>
  <cc-pricing-product-consumption action="none">
    <div slot="head"></div>
  </cc-pricing-product-consumption>
</cc-smart-container>
  
{{ if $.Site.Params.Debug }}
</div>
{{ end }}