<!-- get path to file to read with first param of shortcode -->
{{$file_path := .Get "file"}}
<!-- get str_replacement_dict if present in current page front matter -->
{{$dict := $.Page.Params.str_replace_dict }}
<!-- readfile at given path -->
{{ $pc := site.GetPage $file_path }}
{{ $partial_content := $pc.Content }}
<!-- check if str_replace_dict was present if front matter -->
{{ if $dict }}
	{{ $newpartial_content := "nil" }}
	<!-- iterate through str_replace_dict  -->
	{{ range $elem_key, $elem_val := $dict }}
		<!-- replace values using regular expression -->
		{{ $newpartial_content = replaceRE $elem_key $elem_val $partial_content }}
		{{ $partial_content = $newpartial_content }}

	{{ end }}
{{ end }}
<!-- markdownify partial content -->

{{ if $.Site.Params.Debug }}
<div class="shortcode-debug" >
  &lbrace;&lbrace; &lt; readfile  "{{$file_path}}" &gt; &rbrace;&rbrace;
  {{ if $dict }}<p>{{ printf "%#v" $dict }}</p>{{ end }}
  <hr />
{{ end }}
{{ $partial_content | markdownify }}

{{ if $.Site.Params.Debug }}
</div>
{{ end }}