{{ $software := .Get 0 }}
{{ $version_list := .Site.Data.software_versions_shared_dedicated }}

{{ with index $version_list $software }}
<div>
<h3>Shared clusters</h3>
  <p>
  {{ if .dev }}
    {{ range .dev }}
      <code>{{ . }}</code>
    {{ end }}
  {{ else }}
    There isn't any dev plan for this add-on.</br>
    ⚠️ Dev plans are free and for test purposes only. They don't offer the same guarantees and SLAs as dedicated plans.

  </p>
  {{ end }}

  
  <h3>Dedicated instance</h3>
  <p>
  {{ range .dedicated }}
    <code>{{ . }}</code> 
  {{ end }}
  </p>
</div>
{{ end }}