name: Deploy

on:
  pull_request_target:
    types: [closed, opened, reopened, synchronize]
    branches: [ main ]

concurrency:
  group: deploy-${{ github.head_ref || github.ref }}
  cancel-in-progress: true

env:
  DOMAIN: ${{ github.event.pull_request.base.repo.name }}-PR-${{ github.event.number }}.cleverapps.io/developers

jobs:
  review-app:
    name: Review application
    runs-on: ubuntu-latest
    permissions:
      contents: read
      issues: write
      pull-requests: write

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          ref: ${{ github.event.pull_request.head.sha }}

      - name: Deploy on Clever Cloud
        uses: CleverCloud/clever-cloud-review-app@v2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          CLEVER_SECRET: ${{ secrets.CLEVER_SECRET }}
          CLEVER_TOKEN: ${{ secrets.CLEVER_TOKEN }}
          ORGA_ID: ${{ secrets.ORGA_ID }}
          GH_CC_HUGO_VERSION: 0.152
          GH_CC_STATIC_AUTOBUILD_OUTDIR: public/developers
          GH_CC_WEBROOT: public
          GH_SERVER_ERROR_PAGE_404: developers/404.html
        with:
          comment: true
          set-env: true
          type: static
          domain: ${{ env.DOMAIN }}

  check-links:
    name: Check links
    runs-on: ubuntu-latest
    needs: review-app
    if: github.event.action != 'closed'
    permissions:
      contents: read

    steps:
      - name: Check links
        run: |
          pipx run linkchecker \
            --no-warnings \
            --no-status \
            --check-extern \
            --user-agent 'Mozilla/5.0 (X11; Linux i686; rv:137.0) Gecko/20100101 Firefox/137.0' \
            --ignore-url 'https://crates.io/crates' \
            --ignore-url 'https://new.drupal.org' \
            --ignore-url 'https://static-web-server.net' \
            --ignore-url 'https://www.clevercloudstatus.com' \
          'https://${{ env.DOMAIN }}' || echo "::warning title=Broken Links::Some links are broken. Check the logs for details"
